/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.table td, .table th{
    white-space: normal!important;
  }
  

.data-\[te-nav-active\]\:border-primary[data-te-nav-active].border-b-2 {
    border-bottom-width: 4px!important;
}

.sidenav.fixed-start+.main-content {
  margin-left: 18rem!important;
}

.navbar-vertical.navbar-expand-xs{
  max-width: 18rem!important;
}


.note-modal-content {
	height: fit-content!important;
	display: flex;
	justify-content: end;
}

.note-modal-content .note-modal-footer .note-btn{
	height: fit-content!important;
}

textarea {
  display: none;
}